dataweaveoperators/src/main/mule/dataWeaveOperatorFilter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8488185b-c06c-47d3-bd87-301ae1f581f1" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<flow name="dataWeaveOperatorFilterFlow" doc:id="8697ff44-c73b-48ea-b09a-638a1b71d3b3" >
		<http:listener doc:name="Listener" doc:id="a8703513-3965-41b5-80c0-bc08f3ec7e8b" config-ref="HTTP_Listener_config" path="/filter"/>
		<ee:transform doc:name="Transform Message" doc:id="64022b45-b44e-4d64-84bd-4a210b13431c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
employeefilter:payload.employee.*emp filter(empVal,empInd)->(empVal.eno == '101')
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
