dataweaveoperators/src/main/mule/dataweaveoperatorsMap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="dataweaveoperatorsFlow" doc:id="89664131-d545-4104-9644-ac9ec81dec78" >
		<http:listener doc:name="Listener" doc:id="2feacc14-c1af-40f7-9cc4-7ea701d1a738" config-ref="HTTP_Listener_config" path="/map"/>
		<ee:transform doc:name="Transform Message" doc:id="1283d19b-1f29-4a1c-9c8f-22afda64e6b1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var array1 =["name":"netsanet","name":"mewded","name":"gizachew","name":"efrem"]
---
employeeInformation:
payload.employee.*emp map((val,ind)->
	{
		name:val.ename[0 to 7] ++" "++ val.ename[8 to -1]
	}

)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
